[submodule "Album"]
	path = iPhoneHW/Album
	url = https://github.com/appleEmily/Album.git
[submodule "profile"]
	path = iPhoneHW/profile
	url = https://github.com/appleEmily/profile.git
[submodule "Anzan"]
	path = iPhoneHW/Anzan
	url = https://github.com/appleEmily/Anzan.git
[submodule "sound_Nov"]
	path = iPhoneHW/sound_Nov
	url = https://github.com/appleEmily/sound_Nov.git
